.carousel-container {
    position: relative;
    width: 35%; /* Changer la largeur selon vos besoins */
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}