html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #3497a8;
}

.purple {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}

/* --------- */
/*  Preloader */
/* --------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0d1f28;
  background-image: url(./Assets/pre.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #193f50;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #193f50;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(52, 151, 168, 0.911);
  border-radius: 12px;
}

/* --------- */
/* Navbar Section  */
/* --------- */
.sticky {
  background-color: #193f503e !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.2rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: #193f50 !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: #181a27 !important;
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}
.navbar-brand {
  color: rgb(250, 250, 250) !important;
}

.logo {
  height: 2.3em !important;
  width: 2em !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    padding: 0.7rem 1rem !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 20px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: #193f50;
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
}

/* --------- */
/* Home section */
/* --------- */

.allPages {
  background-color: black;
}

.rocket-container {
  display: inline-block;
  animation: rocket-launch 15s ease-out infinite;
  position: relative; /* Pour positionner les flammes et étincelles par rapport à la fusée */
}

.rocket {
  display: inline-block;
  transform: rotate(-45deg); /* Met la fusée à la verticale */
  position: relative;
}

.flame-container {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg); /* Correction de la rotation pour aligner les flammes verticalement */
}

/* Effet de flamme */
.flame-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 60px;
  background: radial-gradient(circle, rgba(255, 165, 0, 0.8), rgba(255, 69, 0, 0.8));
  border-radius: 50%;
  filter: blur(5px);
  opacity: 0.7;
  animation: flame 0.2s infinite;
}

/* Effet d'étincelles */
.flame-container::after {
  content: '';
  position: absolute;
  bottom: -10px;
  width: 40px;
  height: 40px;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8), rgba(255, 69, 0, 0.8));
  border-radius: 50%;
  filter: blur(10px);
  opacity: 0.5;
  animation: sparks 0.5s infinite;
}

/* Mèche */
.fuse {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg); /* Aligne la mèche sous la fusée */
  width: 4px;
  height: 50px; /* Longueur initiale de la mèche */
  background-color: #333; /* Couleur de la mèche */
  animation: burn-fuse 2s forwards; /* Brûle la mèche en 2 secondes */
  z-index: -1;
}

/* Animation pour brûler la mèche */
@keyframes burn-fuse {
  0% {
    height: 50px; /* Longueur initiale */
    opacity: 1;
  }
  100% {
    height: 0px; /* La mèche se consume entièrement */
    opacity: 0;
  }
}

@keyframes rocket-launch {
  0% {
    transform: translateY(-20px);
    opacity: 1;
  }
  50% {
    transform: translateY(-40px);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}

@keyframes flame {
  0% {
    transform: translateX(-325%) translateY(20px) scale(1);
    opacity: 0.7;
  }
  50% {
    transform: translateX(-325%) translateY(20px) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateX(-325%) translateY(20px) scale(1);
    opacity: 0.7;
  }
}

@keyframes sparks {
  0% {
    transform: translateX(-185%) translateY(20px) scale(1);
    opacity: 0.5;
  }
  50% {
    transform: translateX(-185%) translateY(20px) scale(0.8);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-185%) translateY(20px) scale(1);
    opacity: 0.5;
  }
}



#tsparticles {
  z-index: 1;
  position: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.home-header {
  padding-top: 80px !important;
}

.home-section {
  position: relative;
  z-index: 2;
}


.home-content {
  padding: 9rem 0 2rem !important;
  color: whitesmoke;
  text-align: left;
}

.img-fluid {
  padding-top: 20%;
  width: 80%;
  height: auto;
}

body {
  cursor: none;
}

.halo {
  position: fixed;
  pointer-events: none; /* Pour que la souris interagisse avec les éléments en dessous */
  width: 50px; /* Ajuste la taille du halo */
  height: 50px;
  border-radius: 50%;
  background-color: rgba(52, 151, 168, 0.8); /* Couleur bleue avec transparence */
  filter: blur(10px); /* Effet de flou pour le halo */
  transform: translate(-50%, -50%); /* Centrer le halo sur la souris */
  z-index: 10000; /* Assure-toi que le halo est au-dessus des autres éléments */
}

.heading {
  font-size: 5em !important;
  padding-left: 50px !important;
}

.heading-name {
  font-size: 5em !important;
  padding-left: 45px !important;
}

.main-name {
  color: #3497a8;
}

.Typewriter__wrapper {
  font-size: 2.2em !important;
  color: #3497a8 !important;
  font-weight: 600 !important;
}
.Typewriter__cursor {
  font-size: 2.4em !important;
  color: #3497a8 !important;
}

@media (max-width: 767px) {
  .Typewriter__wrapper {
    font-size: 1.4em !important;
    font-weight: 500 !important;
    position: absolute !important;
  }
  .Typewriter__cursor {
    display: none !important;
  }
}

.myAvtar {
  justify-content: center !important;
  padding-top: 5em !important;
}

@media (max-width: 767px) {
  .myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
  }
}

.home-about-section {
  position: relative;
  padding-top: 70px !important;
}

.home-about-description {
  color: white !important;
  padding-top: 120px !important;
  text-align: center;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em !important;
  text-align: justify;
}

.home-about-social {
  text-align: center !important;
  padding-top: 100px;
  padding-bottom: 50px ;
  color: white !important;
  z-index: 2;
}

.home-about-social-links {
  justify-content: center !important;
  padding-top: 15px !important;
  display: inline-block !important;
  position: relative !important;
  padding-inline-start: 0 !important;
}

.home-social-icons {
  position: relative !important;
  display: inline-block !important;
  width: 40px !important;
  height: 40px !important;
  text-align: center !important;
  font-size: 1.2em !important;
  line-height: 2em !important;
  background: rgba(255, 255, 255, 0.972) !important;
  border-radius: 50% !important;
  transition: 0.5s !important;
}

.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #193f50;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

.home-social-icons:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #3497a8;
}

.home-social-icons:hover {
  color: #3497a8;
  box-shadow: 0 0 5px #3497a8;
  text-shadow: 0 0 2px #3497a8;
}

.social-icons {
  display: inline-block !important;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #3497a8 !important;
}

/* --------- */
/* Projects */
/* --------- */
.project-section {
  position: relative !important;
  padding-top: 60px !important;
  padding-bottom: 30px !important;
  z-index: 2;
}

.project-heading {
  font-size: 2.5em !important;
  color: white !important;
  text-align: center !important;
  margin-bottom: 20px !important;
  padding-top: 80px !important;
}

.project-heading2 {
  font-size: 2.5em !important;
  color: white !important;
  text-align: center !important;
  margin-bottom: 20px !important;
  margin-top: 50px;
  padding-top: 80px !important;
}

.project-cards-container {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.project-card {
  background-color: #1a1a1a;
  border-radius: 15px;
  overflow: hidden;
  width: 500px;
  height: 350px;
  cursor: pointer;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-name {
  font-size: 1.2em;
  color: #ffffff;
  margin: 10px;
  text-align: left; /* Alignement à gauche */
}

.project-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px;
}

.skill-badge {
  display: flex;
  align-items: center;
  background-color: #3497a8; /* Couleur de fond par défaut */
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.8em;
}

.skill-badge:nth-child(odd) {
  background-color: #e91e63; /* Une autre couleur */
}

.skill-badge:nth-child(even) {
  background-color: #ff9800; /* Une autre couleur */
}

.skill-badge img {
  margin-right: 5px;
  width: 16px;
  height: 16px;
}

.skill-separator {
  border-top: 1px solid #ffffff;
  margin: 10px;
}

.project-description {
  font-size: 0.9em;
  color: #aaaaaa;
  margin: 10px;
  text-align: justify; /* Texte justifié */
}

.modal-content {
  background-color: #1a1a1a !important; /* Utiliser la même couleur de fond que les cartes */
  padding: 30px;
  border-radius: 15px;
  max-width: 80%;
  max-height: auto;
  overflow-y: auto; /* Activer le défilement vertical si nécessaire */
  text-align: justify; /* Alignement du texte à gauche */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #ffffff; /* Couleur du texte */
  position: relative; /* Nécessaire pour positionner la croix de fermeture */
}

.modal-title {
  font-size: 2em; /* Titre plus grand */
  margin-bottom: 20px;
  color: #ffffff;
}

.modal-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
}

.modal-skill-badge {
  display: flex;
  align-items: center;
  background-color: #3497a8; /* Couleur de fond par défaut */
  color: white;
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.9em;
}

.modal-skill-badge:nth-child(odd) {
  background-color: #e91e63; /* Une autre couleur */
}

.modal-skill-badge:nth-child(even) {
  background-color: #ff9800; /* Une autre couleur */
}

.modal-image {
  max-width: 50%; /* Ajustez la largeur de l'image selon vos besoins */
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 10px; /* Coins arrondis */
  float: right; /* Fait flotter l'image à droite du texte */
}

.modal-description {
  font-size: 1em;
  color: #aaaaaa;
  margin: 20px 0;
  text-align: justify; /* Texte justifié */
}

.modal-links a {
  display: inline-block;
  margin: 10px 15px 0 0;
  color: #3497a8;
  text-decoration: none;
  font-weight: bold;
}

.modal-links a:hover {
  text-decoration: underline;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: transparent;
  color: #ffffff;
  font-size: 2em;
  border: none;
  cursor: pointer;
}

.close-button:hover {
  color: #ff0000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  overflow: auto; /* Permet le défilement si nécessaire */
  padding: 75px 0 50px 0;
}


/* --------- */
/* About */
/* --------- */

.about-section {
  position: relative !important;
  padding-top: 100px !important;
  z-index: 2;
  color: white !important;
}

.techstack-container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  padding: 20px;
  padding-top: 40px;
}

.orange{
  color: #ff5e00;
}

@keyframes glow {
  0% {
    box-shadow: 
      0 0 10px rgb(255, 0, 0), /* Halo rouge */
      0 0 14px rgba(255, 72, 0, 0.619), /* Halo orange */
      0 0 20px rgba(255, 238, 0, 0.851); /* Halo jaune */
  }
  40% {
    box-shadow: 
      0 0 20px rgb(255, 0, 0), /* Halo rouge plus intense */
      0 0 28px rgba(255, 72, 0, 0.8), /* Halo orange plus intense */
      0 0 40px rgba(255, 238, 0, 1); /* Halo jaune plus intense */
  }
  100% {
    box-shadow: 
      0 0 10px rgb(255, 0, 0), /* Halo rouge */
      0 0 14px rgba(255, 72, 0, 0.619), /* Halo orange */
      0 0 20px rgba(255, 238, 0, 0.851); /* Halo jaune */
  }
}

.category-container {
  background: linear-gradient(to bottom, #202020, #28282814);
  border-radius: 40px;
  padding: 20px;
  max-width: 350px;
  height: auto;
  color: white;
  box-shadow: 
    0 0 10px rgb(255, 0, 0), /* Halo rouge */
    0 0 14px rgba(255, 72, 0, 0.619), /* Halo orange */
    0 0 20px rgba(255, 238, 0, 0.851); /* Halo jaune */
  animation: glow 4s infinite; /* Ajoute l'animation de clignotement */
}

.category-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-left: 10px;
}

.category-title {
  font-weight: bold;
}

.technology-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.technology-item {
  background-color: rgba(250, 89, 26, 0.465);
  border-radius: 40px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(255, 255, 255);
}

.technology-name {
  font-weight: bold;
  font-size: 0.9em !important;
}



.quote-card-view {
  border: none !important;
  color: white !important;
  background-color: transparent !important;
}

.about-activity {
  list-style: none !important;
  text-align: left !important;
  padding-left: 1px !important;
}

@media (max-width: 767px) {
  .about-img {
    padding-top: 0 !important;
  }
}

.experience-tabs {
  display: flex;
  background-color: #000000; /* Black background */
  border-radius: 40px;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  overflow: hidden;
}

.tab-list {
  flex: 1;
  max-width: 250px; /* Fixed width for the tabs */
  background-color: #1a1a1a; /* Slightly lighter black background for the tabs */
  height: auto; /* Auto height to avoid scrollbar */
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove default padding/margins */
  margin: 0; /* Remove default padding/margins */
}

.tab-item {
  display: flex;
  height: 100px;
  align-items: center;
  padding: 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  list-style-type: none; /* Ensure no bullet points on tabs */
  border: none;
}

.tab-item .tab-logo {
  width: 50px; /* Logo size */
  height: 50px; /* Logo size */
  margin-right: 12px; /* Space between logo and text */
  background-color: #ffffff; /* White background */
  border-radius: 50%; /* Circular shape */
  display: inline-block;
}

.tab-item.active {
  background-color: #3497a8; /* Active tab color */
  color: #ffffff;
}

.tab-item:hover {
  background-color: #193f50; /* Hover color */
}

.tab-content {
  flex: 3;
  padding: 20px;
  color: #ffffff;
  background: linear-gradient(to top, #3497a836, #3497a88c);
  text-align: left;
}

.tab-content .role {
  font-size: 1.2em;
  color: #3497a8;
  margin-bottom: 5px;
}

.tab-content .date {
  font-size: 0.9em;
  color: #3497a8;
  margin-bottom: 20px;
}

.description-container {
  overflow: hidden;
  transition: height 0.5s ease; /* Smooth transition for height */
}

.description {
  margin-bottom: 15px;
  text-align: justify;
}

.more-button {
  background-color: #3497a8;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.more-button:hover {
  background-color: #28768c; /* Darker blue on hover */
}


.timeline-container {
  width: 100%;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
}

.timeline {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 200%;
  transition: transform 0.5s ease;
}

.timeline-container:hover .timeline {
  animation-play-state: paused;
}

.event-line {
  position: absolute;
  top: 1%;
  left: -500px;
  right: 0;
  height: 4px;
  width:3000px;
  background-color: #3497a8;
  z-index: 1;
}

.timeline-event {
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.event-marker {
  width: 10px;
  height: 10px;
  background-color: #3497a8;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 55%;
  transform: translateY(-50%);
  z-index: 2;
}

.education-card {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  border-radius: 30px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 3;
  margin-top: 50px;
  margin-left: 50px;
  width: 400px;
  height: 170px;
}

.education-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.589);
}

.education-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.school-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: contain;
  background-color: #ffffff;
}

.school-info {
  display: flex;
  flex-direction: column;
}

.school-info h3 {
  margin: 0;
  color: #3497a8;
  font-size: 1.2em;
}

.date {
  color: #aaaaaa;
  font-size: 0.9em;
  margin-top: 5px;
}

.education-body {
  border-top: 1px solid #ffffff40; /* Adds a subtle line separating the header and body */
  padding-top: 10px;
}

.school {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8em;
}

.percentage, .achievements {
  color: #c4c4c4;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.achievements {
  color: #f4d03f;
}


/* Style for the advance and rewind buttons */
.advance-button, .rewind-button {
  position: absolute;
  top: 4px; /* Adjusted for vertical centering */
  background-color: transparent; /* Make the button background transparent */
  border: none;
  height: 40px;
  width: 100px;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Remove default padding */
}

.advance-button img, .rewind-button img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ensures the image scales nicely within the button */
}

.advance-button {
  right: -30.1px;
}

.rewind-button {
  left: -30.2px;
}


/* --------- */
/* Resume */
/* --------- */

.resume-section {
  position: relative !important;
  padding-top: 110px !important;
  padding-bottom: 30px !important;
  z-index: 0;
  color: white !important;
}

.resume {
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: center;
}

.resume-left {
  padding-right: 80px !important;
}

.resume-right {
  padding-left: 80px !important;
}

@media (max-width: 767px) {
  .resume-left {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }

  .resume-right {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
.resume .resume-title {
  font-size: 2em;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 30px;
}

.resume .resume-item {
  padding: 0 0 10px 25px;
  margin-top: -2px;
  border-left: 2px solid #193f50;
  position: relative;
}

.resume .resume-item .resume-title {
  line-height: 18px;
  font-size: 0.9em;
  background: #193f50;
  padding: 8px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
  text-align: justify;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
  list-style: none;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #193f50;
}

.like-item {
  padding-top: 10px !important;
  font-size: 1.1em !important;
  font-family: sans-serif !important;
}

.like-btn {
  background-color: #193f50 !important;
  border-color: #193f50 !important;
  padding: 0.25rem 0.98rem !important;
  border-radius: 5px !important;
  line-height: 1.4 !important;
  transition: 0.3s ease !important;
}

.like-btn:hover {
  transform: translateY(-2px) !important;
  background-color: #3497a8 !important;
  border-color: #3497a8 !important;
}

.animate-like {
  animation-name: likeAnimation;
  animation-fill-mode: forwards;
  animation-duration: 0.85s;
}
@keyframes likeAnimation {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.fork-btn {
  font-size: 1.1em !important;
  padding-top: 10px !important;
}

.fork-btn-inner {
  line-height: 1.4em !important;
  background-color: #193f50 !important;
  padding: 0.25rem 1.1rem !important;
  vertical-align: middle !important;
  text-align: center !important;
}

.fork-btn-inner:hover {
  transform: translateY(-2px) !important;
  background-color: #3497a8 !important;
  border-color: #3497a8 !important;
}
.fork-btn-inner::after {
  display: none !important;
}
